name: Build and distribute

on:
  push:
    tags:
    - 'a[0-9]+.[0-9]+.[0-9]+*' # tag pattern on pub.dev: 'v{{version}'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          workingDir: editor